#weekly_calendar_container {
    /*display set using tailwind*/
    grid-template-columns: 4rem auto;
    grid-template-rows:auto;
    grid-template-areas:
    ". header"
    "timeslots-container main";
    margin-top: 1rem;
}

.week_header_day {
    border-left: 0.1rem solid black;
    border-top: 0.1rem solid black;
}

#week_calendar_header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#timeslots_container {
    grid-area: timeslots-container;
}

.timeslot::after {
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height: 0.1rem;
    background: black;
}

#events_container {
    grid-area: main;
    display: grid;
    white-space: nowrap;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(288, 1fr);
    position: relative; /*devo settare una position perché i figli con position absolute si allacciano al
                        padre più prossimo che ha la position settata a qualcosa diverso da static(default)*/
    /* vertical lines */
    background: repeating-linear-gradient(
    to right,
    transparent 0%,
    transparent 14.2%,
    gray 14.3%
  );
}

.event_box1 {
    grid-column: 2 / span 1;
    grid-row: 37;
    width: 100%;
    left: 0%;
    background-color: blue;
    position: absolute;
}

