<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="favicon.ico">
        <title>Projects</title>
        <link href="./output.css" rel="stylesheet">
        <script src="./modal.js" defer></script>
        <script src="api/projects.js"></script>
        <script src="./projects.js" defer></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but Projects doesn't work properly without JavaScript enabled. 
                Please enable it to continue.</strong>
        </noscript>
        <div class="min-h-screen bg-primary">
            <nav  class="bg-secondary w-full p-4 z-50 relative">
              <div class="container mx-auto flex justify-between items-center">
                <!-- App name (TODO: find a logo and add it) -->
                <a href="#"  class="text-white text-2xl font-bold">Selfie</a>
                
                <!-- Menu Links TODO: update remaining 'a' elements -->
                <div  class="hidden lg:flex space-x-6">
                    <a class="text-white hover:text-accent" href="/admin">Admin</a>
                    <a class="text-white hover:text-accent" href="/calendar">Calendar</a>
                    <a class="text-white hover:text-accent" href="/notifications">Notifications Centre</a>
                    <a class="text-white hover:text-accent" href="/chat">Chat</a>
                    <a class="text-white hover:text-accent" href="/projects.html">Projects</a>
                    <a class="text-white hover:text-accent" href="/pomodoro">Pomodoro</a>
                    <a class="text-white hover:text-accent" href="/notes">Notes</a>
                    <a class="text-white hover:text-accent" href="/settings">Settings</a>
                    <!-- TODO: put inside of settings instead of navbar -->
                    <a class="text-white hover:text-accent" href="/login">Logout</a>
                </div>
              </div>
            </nav>

            <!-- side navbar -->
            <div class="fixed w-1/5 h-full border-t border-white bg-secondary">
                <div class="relative h-full w-full">
                    <!-- first section -->
                    <div class="absolute flex flex-col top-0 bottom-2/3 w-full text-white text-xl font-bold whitespace-nowrap">
                        <div class="w-full h-1/4 pl-0 sm:pl-6 flex items-center justify-center sm:justify-normal">
                            <button onclick="showCreateModal()" class="flex justify-start items-center">
                                <img src="./assets/create.png" alt="create" class="w-5 mr-0 sm:mr-3">
                                <span class="hidden sm:block">Create</span>
                            </button>
                        </div>
                        <div class="w-full h-1/4 pl-0 sm:pl-6 flex items-center justify-center sm:justify-normal">
                        <button @click="homePage" class="flex justify-start items-center">
                            <img src="./assets/home.png" alt="home" class="w-5 mr-0 sm:mr-3">
                            <span class="hidden sm:block">Home</span>
                        </button>
                        </div>
                        <div class="w-full h-1/4 pl-0 sm:pl-6 flex items-center justify-center sm:justify-normal">
                            <button class="flex justify-start items-center">
                                <img src="./assets/activity.png" alt="activity" class="w-5 mr-0 sm:mr-3">
                                <span class="hidden sm:block">My activities</span>
                            </button>
                        </div>
                    </div>  
                </div>
            </div>

        </div>

        <!-- Create project -->
        <modal-component id="createProjectModal">
            <header>
                <div class="flex items-center justify-between flex-row font-bold">
                    <p class="text-truncate text-lg">Create project</p>
                    <button type="button" onclick="closeCreateModal()"><img class="w-4 h-4 mr-2 hover:border-2 border-secondary"
                    src="./assets/x.png" alt="Croce"></button>
                </div>
                <hr class="border-black"/>
            </header>
            <form id="createProjectForm">
                <div class="flex flex-col">
                  <!-- title -->
                  <div class="mt-4">
                    <p class="font-semibold text-base">Title</p>
                    <input class="border border-third" type="text" maxlength="20" required v-model="activityToAddTitle">
                  </div>
          
                  <!-- deadline -->
                  <div class="mt-4">
                    <p class="font-semibold text-base">Deadline</p>
                    <input type="date" id="projectDeadline" placeholder="Select deadline" required>
                  </div>

                  <!-- invite users -->
                  <div class="mt-4">
                    <p class="font-semibold text-base">Invite users</p>
                    <div class="flex">
                        <input id="userToAddInput" type="text" placeholder="Enter username">
                        <button type="button" onclick="addUserToNewProjectList()" class="ml-2 bg-secondary p-1 text-white">Add user</button>
                    </div>
                    <div class="flex mt-2">
                        <input type="text" id="addedUsernamesInput" readonly>
                        <button type="button" onclick="clearProjectUsers()" class="ml-2 bg-secondary p-1 text-white">Clear</button>
                    </div>
                  </div>

                  <div class="mt-4">
                    <p class="font-semibold text-base">Milestone</p>
                    <input type="checkbox" required v-model="activityToAddIsMilestone">
                  </div>

                  <div class="bg-red-400 text-white font-bold mt-2 
                  inline px-2 text-center mx-auto"></div>
          
                  <button type="submit" class="w-full mt-4 rounded-md bg-secondary px-3 py-2 text-md font-semibold 
                      text-white shadow-sm ring-1 ring-inset ring-gray-300">Add</button>
                </div>
          
              </form>
        </modal-component>
    </body>
</html>
